---
// Assuming you've imported Config from a relevant source
import { Config } from '../config';
---

<main>
  <div
    class="flex text-black w-screen left-0 right-0 fixed -bottom-1 z-[100] justify-between mx-auto bg-white p-4 rounded-lg"
  >
    <h1 class="cursor-default font-medium">Say hi 👋</h1>
    <div class="flex gap-4 items-center justify-center">
      {
        Object.entries(Config.socials).map(([key, value]) => (
          <div class="flex items-center justify-center ">
            <a
              target="_blank"
              title={value.name}
              href={value.url}
              class="flex items-center gap-2 "
            >
              <svg
                viewBox={value.viewBox}
                class="h-5 w-5 hover:fill-neutral-500 transition-all cursor-ne-resize"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d={value.iconPath} />
              </svg>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</main>
